In [5]:
#!pip install palmerpenguins

In [6]:
import numpy as np
import pandas as pd
from sys import exit
from palmerpenguins import load_penguins
from plotnine import ggplot, aes, geom_point, geom_bar

1. Fill in the necessary code to write a function called `times_seven()`. The function should take a single argument (`x`) and multiply the input by 7.
  + This function should check that the argument is numeric.
  + This function should also excitedly announce (print) *“I love sevens!”* if the argument to the function is a 7.

In [7]:
def times_seven(x):

  if not isinstance(x, (int, float)):
    exit("The input must be numeric.")

  if x == 7:
    print("I love sevens!")

  return x*7

2. Write and run some *unit tests* for your `times_seven` function.  What happens if the input to the function is `[1, 3, 5, 7]`?

In [9]:
times_seven(1)

7

In [10]:
times_seven(3)

21

In [11]:
times_seven(5)

35

In [12]:
times_seven(7)

I love sevens!

49

3. Consider the following function:

In [13]:
def add_or_subtract(first_num, second_num = 2, type = "add"):

  if (type == "add"):
    res = first_num + second_num
  elif (type == "subtract"):
    res = first_num - second_num
  else:
    exit("Please choose `add` or `subtract` as the type.")

    return res

**Without running the code**, predict if the following will produce:

a. 1

b. -1

c. 30

d. An error defined by the function `add_or_subtract()`

e. An error defined in a different function, which is called inside the `add_or_subtract()` function

a) The function will not produce 1 as the type is subtract.
b) The function will return -1.
c) The function will not return a value of 30 as it it isn't defined for multiply type.
d) This will produce the error when the type is not "add" or "subtract"  but a invalid type as seen in this case, so the function will produce an error message.
e) This error will be produced.

In [16]:
add_or_subtract(5, 6, type = "subtract")

add_or_subtract("orange")

add_or_subtract(5, 6, type = "multiply")

4. Consider the following code:

In [18]:
first_num  = 5
second_num = 3

result = 8

result = add_or_subtract(first_num, second_num = 4)

result_2 = add_or_subtract(first_num)


In your Global Environment, what is the value of...

a. `first_num`

b. `second_num`

c. `result`

d. `result_2`

a. first num is just = 5.

b. second_num is just  =3.

c. The result is 8 at first then gives us no value because neither add nor subtract was chosen.

d. result_2 also has no value because neither add nor subtract was chosen & a second_num was not provided.

In [19]:
first_num

5

In [20]:
second_num

3

In [22]:
result

In [25]:
print(result_2)

None